@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    padding: 4px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}


#cart-icon{
    
    height:15px;
    width: 15px;
}

.primary-menu a{
    position: relative;
    margin-right:4px;
    text-decoration: none;
    color:rgb(64, 59, 59);
    padding-right: 20px;
}

#hero-image{
    max-width: 100%;
    max-height:100%;
}

.primary-menu a:hover,
.primary-menu a.active
{
    color:#088178;
    fill: #088178;
}

.primary-menu a.active::after{
    content: "";
    width: 35%;
    height:2px;
    position: absolute;
    left:0;
    bottom:-4px;
    background: #088178;
}

.primary-menu a:not(.active):after{
    content: "";
    transform: scaleX(0);
    transform-origin: bottom left;
    width: 35%;
    height:2px;
    position: absolute;
    left:0;
    bottom:-4px;
    background: #088178;
    transition: transform 0.3s ease;
}

.primary-menu a:not(.active):hover::after{
    transform: scaleX(1);
}
